@import "tailwindcss";

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-shadow: 10px 10px 10px gray;
    padding: 30px;
    transition-duration: 1s;
}

h1:hover{
    box-shadow: 10px 10px 15px gray;
}