#container{
    height: 800px;
    width: 100%;
    border: 2px solid;
}

#container>img{
    width: 100%;
}

#cards-container{
    height: 400px;
    width: 98.8%;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    position: absolute;
    top: 275px;
}

.box{
    height: 380px;
    width: 260px;
    border: 2px solid blue;
}