*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

main{
    height: 200vh;
    width: 100%;
    background-color: green;
    margin-top: 100px;
}

section{
    height: 100px;
    width: 100%;
    background-color: blue;
}

article{
    height: 100px;
    width: 100%;
    background-color: red;
    position: sticky;
    top: 100px;
}

footer{
    height: 300px;
    width: 100%;
    background-color: black;
}