*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#box1{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 100px;
    left: 100px;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    left: 50px;
}


