body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes change {
    25%{
        background-color: green;
        transform: rotate(90deg);
    }
    50%{
        background-color: blue;
        transform: rotate(180deg);
    }
    75%{
        background-color: black;
        transform: rotate(270deg);
    }
    100%{
        background-color: violet;
        transform: rotate(360deg);
    }
}