@import "tailwindcss";

.mobile-footer{
    display: none;
}

.name{
    display: none;
}

@media (max-width: 600px) {
    nav{
        width: 100%;
    }

    .section2{
        display: none;
    }

    .section3-div1{
        display: none;
    }

    .section3-div1-ele{
        display: none;
    }

    aside{
        display: none;
    }

    .section3-div2{
        width: 100%;
        justify-content: end;
        margin-right: 10px;
        gap: 10px;
    }

    .section3-div2-button{
        margin: 2px;
        height: 5vh;
        width: 90px;
    } 

    .main-section{
        width: 95%;
        margin-top: 10px;
    }

    .cards-container{
        overflow: auto;
        width: 100%;
        gap: 0px;
    }

    .cards{
        min-width: 40%;
        height: 220px;
        transform: scale(0.8);
    }

    .card-text{
        font-size: 12px;
    }

    .mobile-footer{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background: #000;
        opacity: 0.95;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 22px;
        border-top: 1px solid #333;
        z-index: 1000;
    }

    .laptop-footer{
        background-color: #000;
        color: black;
        
    }

    .footer-icon{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: large;
    }

    .name{
        display: inline;
    }
}